
<div id="taskFrame">
	<div id="taskFrameInnerWrap">
		<% @tasks.each do |task| %>
			<div class="listFrameContainer">
				<ol class="listFrame"> List Name:  <%=task.name%>

						<%@parent_id = task.id %>
						<%@subtasks = Task.where(task_id: @parent_id) %>
						<%if @subtasks != nil %>
							<%@subtasks.each do |task|%>
									<li>
										<%=task.name%>
										<%@sub_task_id = task.id%>
										<%@sub_sub_tasks = Task.where(task_id: @sub_task_id)%>
										<%if @sub_sub_tasks%>
											<ol>
											<%@sub_sub_tasks.each do |task|%>
												<li><%=task.name%> </li>
														<%@sub_sub_task_id = task.id%>
														<%@sub_sub_sub_tasks = Task.where(task_id: @sub_task_id)%>
																<%if @sub_sub_sub_tasks%>
																<ol>
																<%@sub_sub_sub_tasks.each do |task|%>
																	<li><%=task.name%> </li>	
																<%end%>
																</ol>
												<%end%>
											<%end%>
											</ol>
										<%end%>
									</li>
								
									
							<%end%>
						<%end %>



				</ol>
		  </div>
		<%end%>
	</div>
</div>




<ol> 
	<div> Hello</div>
  <li>One</li> 
  <li>Two
    <ol> 
      <li>Inner One</li> 
      <li>inner Two</li> 
    </ol>
  </li>
  <li>Three</li> 
</ol> 

