/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
* require_tree .
* require pages
*= require bootstrap
*= require project-frame
*= require jquery-ui
*= require gridstack
*= require and-styles-from-manifest
*= require tasks-frame
* require_self
*/

body {
  background-color: orange;
}
#taskFrame {
  border: dotted magenta 5px;
  overflow-x: scroll;
}
#taskFrameInnerWrap {
  border: dotted 10px turquoise;
  width: 20000px;
  height: 100vh;
  display: inline-block;
  /* overflow-y: hidden; */
}

// make this slightly larger than the .listFrame
.listFrameContainer {
  border: dotted gray 1px;
  float: left;
  margin-left: 20px;
  margin-top: 30px;
  padding: 1rem;
}

.listFrame {
  border: solid black 2px;
  overflow-y: scroll;
  width: 500px;
  //   float: left;
}

.listFrameLevelTwo {
  border: dotted blue 4px;
  background: white;
  margin: 5px;
  transform: translate(100px, 0px);
}

.subTaskTwoWrap {
  border: dotted purple 4px;
  background: green;
  margin: 5px;
  transform: translate(100px, 0px);
}

.blue {
  background-color: aqua;
}
